#sidenav-main {
    background-color: black;
}

.nav-link {
    background-color: black;
}

#link-word {
    color: white;
}

#link-word:hover {
    color: orange;
}

.submenu-list {
    margin-left: 20px;
}

.items-menu {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .nav-item {
    margin: 5px 0;
  }

  .nav-link {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
  }


  .nav-link i {
    margin-right: 10px;
  }

  .nav-link span {
    color: #fff;
  }

  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .btn-logout {
    width: 150px;
    background-color: orange;
    color: black;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
  }

  .navbar-brand-img {
    max-width: 100%; /* Image can grow up to 100% of its container */
    height: auto; /* Maintain aspect ratio */
  }

  .navbar-brand {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Aligns content to the left */
  }