#sidenav-main {
    background-color: black;
}

.nav-link {
    background-color: black;
}

#link-word {
    color: white;
}

#link-word:hover {
    color: orange;
}

.submenu-list {
    margin-left: 20px;
}